@page
@model MarvelManager.Pages.Characters.CreateModel

<h1>Ajouter un personnage</h1>

<form method="post">

    <div class="mb-3">
        <partial name="_CharacterForm" model="Model.Character" />
    </div>
    

    <div class="mb-3">
        <label>Équipe</label>
        <select asp-for="Character.TeamId"
                asp-items="Model.TeamOptions"
                class="form-select">
        </select>
    </div>

    <button type="submit" class="btn btn-success">
        Ajouter
    </button>

</form>