@page "{id:int}"
@model MarvelManager.Pages.Characters.EditModel

<h1>Modifier un personnage</h1>

<form method="post">

    <input type="hidden" asp-for="Character.Id"/>

    <div class="mb-3">
        <partial name="_CharacterForm" model="Model.Character" />
    </div>


    <div class="mb-3">
        <label>Équipe</label>
        <select asp-for="Character.TeamId"
                asp-items="Model.TeamOptions"
                class="form-select">
        </select>
    </div>

    <button type="submit" class="btn btn-warning">
        Modifier
    </button>

</form>