@page
@model MarvelManager.Pages.NotFoundModel

@{
    ViewData["Title"] = "Page introuvable";
}

<div class="text-center mt-5">

    <h1 class="display-4 text-danger">
        404
    </h1>

    <h2>Page introuvable</h2>

    <p>
        La page demandée n'existe pas.
    </p>

    <a class="btn btn-primary"
       asp-page="/Index">
        Retour à l'accueil
    </a>

</div>